<div class="modal fade" id="modal-about" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Sobre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p>
                    * Arquivo .env na raiz é responsável por configurações estáticas do sistema (como conexão com a base e URLs).
                </p>

                <p>
                    * A pasta bootstrap contém arquivos de include (utilizei a mesma nomenclatura utilizada pelo Laravel).
                </p>

                <p>
                    * Ao acessar o sistema, clique em importar e selecione um arquivo .csv, posteriormente clique em importar e aguarde...
                </p>

            </div>
            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>